header {
/*    background-image: url(images/banner.jpg);
   background-image: url(images/meal.jpg);*/
   background-image: url(images/meal12.jpeg);


  height: 100vh;
    background-size: cover;
    background-attachment: fixed;
   
    min-height: 670px;
    width: 100%;
  /*  margin-top: -60px;*/
}

html {
	font-family: 'Josefin Slab', serif;
	font-size: 1.5em; 

}

body {
    font-family: 'Josefin Slab', serif;
}

nav img {
	height: 100px;
    width: 100px;
    background-color: turquoise;
    border-radius: 50%;
    margin: 1em;
}

.center-content {
    margin: 0 auto;
    /* max-width: 500px; */
    position: relative;
    /*transform: translateY(20em);*/
    top: 55%;
    width: 50%;
    text-align: center;
    color: #ffffff;

}

.center-content p {
	font-size: 2em;
	padding: 1em;
}

input {
	color:#000;
	margin:1em;
    background-color:#ffffff;
}

footer {
    clear: both;
    background-color: #252422;
    color: white;
    padding: 1.25rem;
}

.ind_recipe {
	display:inline;
	text-align: center;


}

.recipe_img {
	height:150px;
	width:150px;
	margin: 0 auto;
    display: block;
}

.recipeCard {

	display:inline;
	margin-left:1em;
}

.recipe-content {
	width:31%;
	display:inline-block;
/*display:flex;*/
	margin: 0 auto;
	border: 1px #000000 solid;
	    margin: 1em;
    padding-bottom: 1em;

}

.recipe-content h5 {
	font-size: 1.25em;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin: 0 auto;
    padding: 1.2em;
}



h1 {
	font-family: 'Lobster', cursive;
	font-size: 4rem;
	text-shadow: 0.02em 0.02em #000000;

}

#menu-section {
	flex-direction: row;
    flex-wrap: wrap;
	display:flex;
    margin-left: 10%;
	
}


.card {
	width: 10rem;
    border: 1px solid #000000;

    margin: 1em 0;
  
   position: relative;
    padding-bottom: 2.5em;
}


.card {
    width: 20%;
    border: 1px solid #000000;
    /* padding: 2em; */
    margin: 1em .5em;
    /* top: -10px; */
    display: inline-block;
    position: relative;
    padding-bottom: 2.5em;
}

.card-img-top {
width: 100%;
height:157px;
    
}

.btn-primary{

    margin: .5em;
    margin-top: 10px;
    position: absolute;
  
    bottom: -2;
    display: block;

}

.btn {
     background-color: turquoise;
}

.row {

    margin-right: 0px; 
    margin-left: 0px; 

}


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;

    }

.fa {

    margin-bottom: 1.5em;

}